# สัตว์ในสยาม (กลุ่มที่ 2)
## สัตว์พาหะนำโรคและมาตรการจัดการ (ป้องกันและกำจัด) ของร้านค้าประเภทต่าง ๆ ในพื้นที่สยามสแควร์

นำเข้าและเตรียมข้อมูล

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('data/data.csv')

In [2]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Location'] = df["Location"].astype('category')
df['Type'] = df["Type"].astype('category')
df['ลักษณะของร้าน'] = df["ลักษณะของร้าน"].astype('category')
df['Restroom']=df['Restroom'].map({"ไม่มี": False, "มี": True})
df['Garbage']=df['Garbage'].astype('category')
df['Drain']=df['Drain'].map({"ไม่มี": False, "มี": True})
animals = df["ท่านเคยพบสัตว์ประเภทใดในบริเวณร้านบ้าง"].str.split(", ", expand=True).stack().unique()
df = pd.concat([df, df["ท่านเคยพบสัตว์ประเภทใดในบริเวณร้านบ้าง"].str.get_dummies(", ")], axis=1)

### ตารางแสดงจำนวนร้านค้าประเภทต่างๆในการสำรวจครั้งนี้

In [3]:
df['Type'].value_counts()

ร้านอาหาร        7
สถาบันกวดวิชา    6
ร้านเสื้อผ้า     6
ร้านเสริมสวย     6
ร้านสะดวกซื้อ    5
Name: Type, dtype: int64

### ตารางแสดงสถานที่ที่พบสัตว์ชนิดต่างๆ

In [4]:
pd.pivot_table(df, values=animals, index=["Location"], aggfunc=np.sum)

,จิ้งจก,นก,มด,ยุง,หนู,แมลงวัน,แมลงสาบ,แมว,ไม่พบสัตว์นำโรค
Location,,,,,,,,,
Siam square one,0,0,2,1,1,1,3,0,0
ตรงข้าม mbk,0,0,0,0,0,1,0,0,0
ติดถนนอังรีดูนังต์,0,0,1,0,0,2,1,0,0
ตึกวิทยกิตติ์,0,0,0,1,0,0,0,0,0
ตึกสยามกิตติ์,0,1,1,1,0,4,5,0,0
สยามสแควร์ซอย 1,0,0,1,1,2,1,2,0,0
สยามสแควร์ซอย 2,0,0,2,1,2,1,2,0,1
สยามสแควร์ซอย 3,0,0,2,1,0,1,2,1,0
สยามสแควร์ซอย 5,0,0,3,2,2,3,2,0,1
สยามสแควร์ซอย 6,1,0,3,4,2,2,3,0,0
สยามสแควร์ซอย 7,0,0,0,0,0,0,1,0,0

### ตารางแสดงสถานที่ที่พบสัตว์ชนิดต่างๆ

In [5]:
pd.pivot_table(df, values=animals, index=["Type"], aggfunc=np.sum)

,จิ้งจก,นก,มด,ยุง,หนู,แมลงวัน,แมลงสาบ,แมว,ไม่พบสัตว์นำโรค
Type,,,,,,,,,
ร้านสะดวกซื้อ,0,0,3,0,0,4,3,0,1
ร้านอาหาร,0,1,3,2,4,5,6,0,0
ร้านเสริมสวย,0,0,4,2,3,3,6,1,0
ร้านเสื้อผ้า,0,0,4,4,1,2,2,0,0
สถาบันกวดวิชา,1,0,1,4,1,2,4,0,1

### ตารางแสดงชนิดที่รองรับขยะมูลฝอยกับประเภทร้านค้า

In [6]:
pd.crosstab(df["Type"], df["Garbage"])

Garbage,มีที่รองรับขยะมูลฝอย,มีที่รองรับขยะมูลฝอย มีฝาปิด,มีที่รองรับขยะมูลฝอย ไม่มีฝาปิด,ไม่มีที่รองรับขยะมูลฝอย
Type,,,,
ร้านสะดวกซื้อ,2,3,0,0
ร้านอาหาร,1,5,1,0
ร้านเสริมสวย,1,4,1,0
ร้านเสื้อผ้า,2,1,2,1
สถาบันกวดวิชา,2,3,1,0

### ตารางแสดงการมีฝาปิดท่อระบายน้ำกับประเภทร้านค้า

In [7]:
pd.crosstab(df["Type"], df["Drain"])

Drain          False  True
Type
ร้านสะดวกซื้อ      0      5
ร้านอาหาร          0      7
ร้านเสริมสวย       1      5
ร้านเสื้อผ้า       1      5
สถาบันกวดวิชา      1      5