# สัตว์ในสยาม (กลุ่มที่ 2)
## สัตว์พาหะนำโรคและมาตรการจัดการ (ป้องกันและกำจัด) ของร้านค้าประเภทต่าง ๆ ในพื้นที่สยามสแควร์

นำเข้าและเตรียมข้อมูล

In [1]:
import pandas as pd
df=pd.read_csv('data/data.csv')

In [2]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Location'] = df["Location"].astype('category')
df['Type'] = df["Type"].astype('category')
df['ลักษณะของร้าน'] = df["ลักษณะของร้าน"].astype('category')
df['Restroom']=df['Restroom'].map({"ไม่มี": False, "มี": True})
df['Drain']=df['Drain'].map({"ไม่มี": False, "มี": True})

### ตารางแสดงจำนวนร้านค้าประเภทต่างๆในการสำรวจครั้งนี้

In [3]:
df['Type'].value_counts()

ร้านอาหาร        7
สถาบันกวดวิชา    6
ร้านเสื้อผ้า     6
ร้านเสริมสวย     6
ร้านสะดวกซื้อ    5
Name: Type, dtype: int64

### ตารางแสดงสถานที่ที่พบสัตว์ชนิดต่างๆ

In [4]:
df.loc[:, ["Location", "Cockroach","Fly","Ant","Mosquito","Rat","Bird","Lizard"]].groupby('Location').sum()

                    Cockroach  Fly  Ant  Mosquito  Rat  Bird  Lizard
Location
Siam square one           3.0  1.0  2.0       1.0  1.0   0.0     0.0
ตรงข้าม mbk               0.0  1.0  0.0       0.0  0.0   0.0     0.0
ติดถนนอังรี               1.0  1.0  1.0       0.0  0.0   0.0     0.0
ติดถนนอังรีดูนังต์        0.0  1.0  0.0       0.0  0.0   0.0     0.0
ตึกวิทยกิตติ์             0.0  0.0  0.0       1.0  0.0   0.0     0.0
ตึกสยามกิตติ์             5.0  4.0  1.0       1.0  0.0   1.0     0.0
สยามสแควร์ซอย 1           2.0  1.0  1.0       1.0  2.0   0.0     0.0
สยามสแควร์ซอย 2           2.0  1.0  2.0       1.0  2.0   0.0     0.0
สยามสแควร์ซอย 3           2.0  1.0  2.0       1.0  0.0   0.0     0.0
สยามสแควร์ซอย 5           2.0  3.0  3.0       2.0  2.0   0.0     0.0
สยามสแควร์ซอย 6           3.0  2.0  3.0       4.0  2.0   0.0     1.0
สยามสแควร์ซอย 7           1.0  0.0  0.0       0.0  0.0   0.0     0.0

### ตารางแสดงสถานที่ที่พบสัตว์ชนิดต่างๆ

In [5]:
df.loc[:, ["Type", "Cockroach","Fly","Ant","Mosquito","Rat","Bird","Lizard"]].groupby('Type').sum()

               Cockroach  Fly  Ant  Mosquito  Rat  Bird  Lizard
Type
ร้านสะดวกซื้อ        3.0  4.0  3.0       0.0  0.0   0.0     0.0
ร้านอาหาร            6.0  5.0  3.0       2.0  4.0   1.0     0.0
ร้านเสริมสวย         6.0  3.0  4.0       2.0  3.0   0.0     0.0
ร้านเสื้อผ้า         2.0  2.0  4.0       4.0  1.0   0.0     0.0
สถาบันกวดวิชา        4.0  2.0  1.0       4.0  1.0   0.0     1.0